<div class="delete-dialogue-component" style="padding: 20px">
  <div class="title">
    <div style="font-size: 20px; font-weight: 500">Delete Course</div>
    <mat-icon [mat-dialog-close]="false"
      ><span class="material-icon" style="cursor: pointer"
        >close</span
      ></mat-icon
    >
  </div>

  <mat-divider></mat-divider>

  <div
    mat-dialog-content
    class="dialogue-content"
    *ngIf="targetCourse && targetCode"
  >
    Are you sure you want to delete course {{ targetCode }}/ {{ targetCourse }}?
  </div>
  <div mat-dialog-content class="dialogue-content" *ngIf="targetTopicName">
    Are you sure you want to delete course {{ targetTopicName }}?
  </div>
  <div
    mat-dialog-content
    class="dialogue-content"
    *ngIf="targetProgramCode && targetProgramName"
  >
    Are you sure you want to delete program {{ targetProgramCode }}/{{
      targetProgramName
    }}?
  </div>
  <mat-dialog-actions class="action-btns" align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      Yes
    </button>
    <button mat-stroked-button [mat-dialog-close]="false">No</button>
  </mat-dialog-actions>
</div>
