@import "../../courses/courses.component.scss";

.action-buttons {
  display: flex;

  gap: 5px;

  mat-icon {
    cursor: pointer;
  }
}

.courses-container {
  // max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
