<div class="courses-component">
  <div class="courses-header">
    <p class="mat-h2">Courses</p>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon
        ><span class="material-symbols-outlined"> refresh </span></mat-icon
      >
    </button>
  </div>
  <div class="courses-section">
    <div class="search-addCourse">
      <input type="text" placeholder="Search" class="search-field" />
      <button mat-stroked-button (click)="addCourse()">Add Course</button>
    </div>
    <ng-container *ngIf="isAddCourseClicked">
      <div class="add-course-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="addCourseReactiveForm">
          <div class="table-responsive">
            <table class="table table-borderless">
              <tr class="cols">
                <td class="custom-spacing mat-h3">Actions</td>
                <td class="mat-h3">Code</td>
                <td class="mat-h3">Course Name</td>
                <td class="mat-h3">Theory Time</td>
                <td class="mat-h3">Practice Time</td>
                <td class="mat-h3" style="padding-right: 65px">Description</td>
                <td class="mat-h3">Topics</td>
              </tr>
              <tr>
                <td>
                  <mat-icon
                    type="submit"
                    name="tick"
                    [ngClass]="{ 'btn-disabled': !addCourseReactiveForm.valid }"
                    (click)="onSubmit()"
                  >
                    <span
                      class="material-symbols-outlined material-icons-outlined-customzied"
                    >
                      done
                    </span>
                  </mat-icon>
                  <mat-icon (click)="closeForm()" name="cross">
                    <span
                      class="material-symbols-outlined material-icons-outlined-customzied"
                    >
                      close
                    </span>
                  </mat-icon>
                </td>
                <td>
                  <input
                    type="text"
                    name="code"
                    formControlName="code"
                    placeholder="Enter Code"
                    class="input-fields"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="course"
                    formControlName="course"
                    placeholder="Enter Course Name"
                    class="input-fields"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="theoryTime"
                    formControlName="theoryTime"
                    placeholder="0 hr"
                    class="input-fields"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    name="practiceTime"
                    formControlName="practiceTime"
                    placeholder="0 hr"
                    class="input-fields"
                  />
                </td>
                <td>
                  <p class="text-primary">Add Description</p>
                </td>
                <td><p class="text-primary">Add Topics</p></td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </ng-container>
  </div>
</div>
