.home-component {
  background-color: #f1f5ff;
  //   background-color: red;
  height: 100vh;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding-top: 10px;
}

.home-card {
  margin: 0 20px;
}

.card-header {
  padding: 20px 40px;
}
